#search {
  margin-right: 24px;
  margin-bottom: 16px;
}
#search-description {
  margin-bottom: 8px;
}
#search-input {
  font-size: 14px;
  padding: 12px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 1px 1px #dedede;
  font-family: inherit;
}
#search-input:hover,
#search-input:focus {
  box-shadow: 2px 1px #cccccc;
  outline: none;
}