.chord-view-name-flats {
    letter-spacing: -0.25em;
    margin-right: 0.25em;
}
.chord-view {
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 1px 1px #dedede;
    background-color: #fafafa;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;

    font-size: 14px;
}
.chord-view-inner {
    max-width: 550px;
    min-width: 200px;
    margin: 0 auto;
}
.chord-view-label {
  padding: 8px;
  font-weight: bold;
  margin-right: 16px;
  vertical-align: middle;
  text-align: center;
}
.chord-view-row {
  margin-bottom: 8px;
  margin-top: 8px;
}
.chord-view-notes-outer {
  display: inline-block;
}
.chord-view-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chord-view-note-outer {
  margin-right: 12px;
  text-align: center;
  flex-grow: 1;
  width: 40px;
  max-width: 40px;
}
.chord-view-note {
  padding-bottom: 4px;
  height: 18px;
  margin-bottom: 4px;
  border-bottom: 3px solid black;
}