.error-message-x-line {
  stroke: #f0646b;
  stroke-width: 12px;
  stroke-linecap: round;
}
.error-message-x {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.error-message {
  margin: 0 auto;
  text-align: center;
}
.error-message>h2 {
  font-weight: normal;
  margin-block-end: 0.4em;
  margin-block-start: 0.5em;
}
.error-message-desc {
  max-width: 500px;
  margin: 0 auto;
  text-align: initial;
}