.help-question {
  margin-bottom: .5em;
  margin-top: 0px;
  font-size: 20px;
  font-weight: normal;
}
.help-answer>p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}
.help-answer {
  font-size: 16px;
}
.chord-example {
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background-color: #eaeaea;
}
.chord-example:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}