html {
  touch-action: manipulation;
}
body {
  height: 100%;
  background-color: #f3f3f3;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #343e49;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  padding-bottom: 32px;
  margin: 0;
}
#app {
  margin: auto;
  max-width: 720px;
  min-width: 300px;
  font-size: 20px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  text-decoration: none;
  color: inherit;
}
