.loading-indicator {
  margin-top: 32px;
}
.loading-indicator>svg {
  margin: 0 auto;
  display: block;
}
.loading-indicator-circle {
  fill: none;
  stroke: #cccccc;
  stroke-width: 8px;
}
.loading-indicator-dot {
  fill: none;
  stroke-width: 10px;
  stroke: #6eaaf6;
  stroke-dashoffset: 400px;
  stroke-dasharray: 480px;
  stroke-linecap: round;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading-indicator-text {
  alignment-baseline: central;
  dominant-baseline: central;
  text-anchor: middle;
  fill: #343e49;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(359.9deg);
    transform-origin: 50% 50%;
  }
}