#navbar-top {
  background-color: #eaeaea;
  border-bottom: 1px solid #dadada;
}
#navbar-outer {
  margin: 0 auto;
  max-width: 756px;
  min-width: 300px;
}
#navbar {
  font-size: 20px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
}
#navbar-right {
  float: right;
}
.navbar-item {
  display: inline-block;
  margin-top: 4px;
  padding-top: 4px;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
  border-radius: 3px;
}
.navbar-item:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}