.voicing-chart-parent {
    max-width: 550px;
    min-width: 200px;
    padding-left: 8px;
    margin: 0 auto;
    display: flex;
    height: 165px;
    flex-direction: row;
}
.voicing-chart-sides {
    height: 140px;
    width: 30px;
}
.voicing-chart-center {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}
.voicing-chart-fretboard {
    height: 100%;
    flex-grow: 1;
}
.voicing-chart-fretboard>svg {
    width: 100%;
    height: 100%;
}
.voicing-chart-fret-labels {
    height: 25px;
}
.voicing-chart-fret-labels>svg {
    width: 100%;
    height: 100%;
}
svg.voicing-chart-label {
    width: 100%;
    height: 100%;
}
.voicing-chart-text-label {
    font-size: 14px;
    fill: #343e49;
    text-anchor: middle;
    alignment-baseline: central;
    dominant-baseline: central;
}
.voicing-chart-fretboard-line {
    stroke: black;
}
.voicing-chart-fretboard-line.voicing-chart-string-playing {
    animation-name: grow-shrink;
    animation-duration: 300ms;
    animation-iteration-count: 1;
}
@keyframes grow-shrink {
    0% {
        stroke-width: 1px;
    }
    20% {
        stroke-width: 3px;
    }
    100% {
        stroke-width: 1px;
    }
}
.voicing-chart-open-circle {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}
.voicing-chart-bar-rect {
    fill: white;
}
.voicing-chart-bar-path {
    stroke-width: 5px;
    fill: white;
}
.voicing-chart-fret-dot {
    stroke: black;
    fill: black;
}

.voicing-result {
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 1px 1px #dedede;
    background-color: #fafafa;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
}
.voicing-result-actions {
    max-width: 550px;
    min-width: 200px;
    margin: 0 auto;
}
.voicing-result-action {
    font-size: 14px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    margin-right: 4px;
}
.voicing-result-action:hover {
    background-color: #dedede;
}
.voicing-result-action-icon {
    margin-right: 4px;
    font-size: 13px;
    text-align: center;
}